html {
  font-size: 62.5%;
  color: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  padding: 1.5rem 2.5rem;
  background-color: #1a1a1d;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "PoppinsRegular";
  font-weight: 400;
  font-style: normal;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(/Kiramu/fonts/Poppins-Regular.woff2) format("woff2"), url(/Kiramu/fonts/Poppins-Regular.woff) format("woff"), url(/Kiramu/fonts/Poppins-Regular.eot) format("eot");
  font-display: swap;
}
@font-face {
  font-family: "PoppinsMedium";
  font-weight: 500;
  font-style: normal;
  src: local("Poppins Medium"), local("Poppins-Medium"), url(/Kiramu/fonts/Poppins-Medium.woff2) format("woff2"), url(/Kiramu/fonts/Poppins-Medium.woff) format("woff"), url(/Kiramu/fonts/Poppins-Medium.eot) format("eot");
  font-display: swap;
}
@font-face {
  font-family: "PoppinsSemiBold";
  font-weight: 600;
  font-style: normal;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(/Kiramu/fonts/Poppins-SemiBold.woff2) format("woff2"), url(/Kiramu/fonts/Poppins-SemiBold.woff) format("woff"), url(/Kiramu/fonts/Poppins-SemiBold.eot) format("eot");
  font-display: swap;
}
@font-face {
  font-family: "PoppinsBold";
  font-weight: 700;
  font-style: normal;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(/Kiramu/fonts/Poppins-Bold.woff2) format("woff2"), url(/Kiramu/fonts/Poppins-Bold.woff) format("woff"), url(/Kiramu/fonts/Poppins-Bold.eot) format("eot");
  font-display: swap;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
.header__logo {
  font-family: "PoppinsBold", sans-serif;
  font-size: 2.4rem;
  color: #FFFFFF;
  cursor: pointer;
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 40rem;
  padding: 3rem;
  background-color: #1a1a1d;
  border: 2px solid #c3073f;
  border-radius: 2rem;
}
.form__title {
  font-family: "PoppinsSemiBold", sans-serif;
  font-size: 3.2rem;
}
.form__group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.form__element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form__icon {
  position: absolute;
  right: 5rem;
  width: 2rem;
  font-size: 2rem;
  fill: #FFFFFF;
}
.form__icon--secondary {
  cursor: pointer;
}
.form__input {
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: transparent;
  border: 2px solid #c3073f;
  border-radius: 10rem;
  outline: none;
  font-family: "PoppinsMedium", sans-serif;
  font-size: 1.5rem;
  color: white;
}
.form__input::placeholder {
  color: #FFFFFF;
}

.button {
  width: 100%;
  padding: 1.5rem;
  background-color: #c3073f;
  border: none;
  border-radius: 10rem;
  font-family: "PoppinsMedium", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.repo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin: 2rem 0;
  font-family: "PoppinsRegular", sans-serif;
  font-size: 1.6rem;
}
.repo__element {
  padding: 2rem;
  border: 2px solid #c3073f;
  border-radius: 2rem;
}

.searcher {
  position: relative;
  display: flex;
  width: 100%;
}
.searcher__input {
  width: 100%;
  padding: 0.8rem 1.5rem;
  background-color: transparent;
  border: 2px solid #c3073f;
  border-radius: 3rem;
  font-family: "PoppinsRegular", sans-serif;
  font-size: 1.6rem;
  color: #FFFFFF;
  outline: none;
}
.searcher__input::placeholder {
  color: #FFFFFF;
}
.searcher__button {
  position: absolute;
  right: 0;
  height: 100%;
  background-color: transparent;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
.main__title {
  font-family: "PoppinsBold", sans-serif;
  font-size: 15rem;
}
.main__description {
  font-family: "PoppinsSemiBold", sans-serif;
  font-size: 3.2rem;
}/*# sourceMappingURL=main.css.map */