.button {
  width: 100%;

  padding: 1.5rem;

  background-color: $secondary-color-lighter;

  border: none;
  border-radius: 10rem;

  font-family: $poppins-medium;
  font-size: $xs-font-size;
  text-align: center;

  color: $primary-color;

  cursor: pointer;

  
}