.form {
  position: relative;

  @include display-flex-primary;
  flex-direction: column;
  gap: 2rem;

  width: 40rem;

  padding: 3rem;

  background-color: $background-color-dark;
  border-radius: $border-radius-primary;

  &__title {
    font-family: $poppins-semibold;
    font-size: $xl-font-size;
  }

  &__group {
    @include display-flex-primary;
    flex-direction: column;
    gap: 2rem;

    width: 100%;
  }

  &__element {
    @include display-flex-primary;

    width: 100%;
  }

  &__icon {
    position: absolute;
    right: 5rem;

    width: 2rem;

    font-size: $xm-font-size;

    fill: $primary-color;

    &--secondary {
      cursor: pointer;
    }
  }

  &__input {
    width: 100%;

    padding: 1.5rem 2rem;

    background-color: transparent;
    border: 1px solid $primary-color;
    border-radius: 10rem;
    outline: none;

    font-family: $poppins-medium;
    font-size: $xs-font-size;

    color: white;

    &::placeholder {
      color: $primary-color;
    }
  }
}