.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;

  width: 100%;
  max-width: $max-width-primary;

  margin: 0 auto;

  &__logo {
    font-family: $poppins-bold;
    font-size: $lg-font-size;

    color: $primary-color;

    cursor: pointer;
  }
}