html {
  font-size: 62.5%;

  color: $primary-color;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  text-decoration: none;
  list-style-type: none;
}

body {
  padding: 1.5rem 2.5rem;

  background-color: $background-color;

  text-rendering: optimizeSpeed;
  line-height: 1.5;

  scroll-behavior: smooth;
}