.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: $max-width-primary;

  margin: 0 auto;

  &__title {
    font-family: $poppins-bold;
    font-size: $title-font-size;
  }

  &__description {
    font-family: $poppins-semibold;
    font-size: $xl-font-size;
  }
}