// Width

$max-width-primary: 1240px;
$max-width-secondary: 1000px;

// Margin

$margin-center: 0 auto;

// Padding

// Border 

$border-bottom-primary: 2px solid #950740;
$border-bottom-secondary: 2px solid transparent;

// Border-radius 

$border-radius-primary: 2rem;

// Blur 

$glass-blur: 1rem;

// Font-family 

$poppins-regular: "PoppinsRegular", sans-serif;
$poppins-medium: "PoppinsMedium", sans-serif;
$poppins-semibold: "PoppinsSemiBold", sans-serif;
$poppins-bold: "PoppinsBold", sans-serif;

// Font-size 

$title-font-size: 15rem;
$xxs-font-size: 1.4rem;
$xs-font-size: 1.5rem;
$sm-font-size: 1.6rem;
$md-font-size: 1.8rem;
$xm-font-size: 2rem;
$lg-font-size: 2.4rem;
$xl-font-size: 3.2rem;
$xxl-font-size: 5rem;

// Color

$primary-color: #FFFFFF;
$background-color: #222831;
$background-color-dark: #393E46;
$background-color-light: #9FB1BCFF;
$secondary-color: #D3D0CBFF;

// Transition 

$transition-primary: all 0.2s ease-in-out;
$transition-secondary: all 0.15s ease-in-out;